<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <a href="/"><strong>Uno Drive</strong></a>
      <div class="login-buttons">
        <% if (user) {%>
        <a href="/log-out"><strong>Log Out</strong></a>
        <% } else { %>
        <a href="/login"><strong>Log In</strong></a>
        <%}%>
        <a href="/sign-up"><strong>Sign Up</strong></a>
      </div>
    </div>
    <hr />
    <!-- End of header -->

    <!-- Shows accompany messages for folders if logged in -->
    <% if (user) { %> <% if (folders) { %>
    <div class="container">
      <h1>Folders</h1>
      <ul>
        <% folders.forEach((folder) => { %>
        <p><a href="/folder/<%= folder.id %>"><%= folder.name %></a></p>
        <% }); %>
      </ul>
      <form action="/new-folder" method="post">
        <div class="input-field">
          <label for="folder_name">New folder</label>
          <input
            type="text"
            class="account-button"
            id="folder_name"
            name="folder_name"
          />
          <button type="submit" class="account-button">
            Create new folder
          </button>
        </div>
      </form>
    </div>
    <% } else { %>
    <p>You have no folders.</p>
    <% } %> <% } %>
  </body>
</html>
