<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <a href="/"><strong>Uno Drive</strong></a>
      <div class="login-buttons">
        <% if (user) {%>
        <a href="/log-out"><strong>Log Out</strong></a>
        <% } else { %>
        <a href="/login"><strong>Log In</strong></a>
        <%}%>
        <a href="/sign-up"><strong>Sign Up</strong></a>
      </div>
    </div>
    <hr />
    <form action="/new-folder" method="post">
      <div class="input-field">
        <label for="folder_name">New folder</label>
        <input type="text" class="account-button" id="folder_name" name="folder_name">
        <button type="submit" class="account-button">Create new folder</button>
      </div>
    </form>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <h1>Home</h1>
      <% if (user) {%>
        <div class="input-field">
          <label for="egg">Upload Files</label>
          <input type="file" class="account-button" name="egg">
        </div>
        <button type="submit" class="account-button">Upload</button>
        <% } else { %>
        <a href="/login"><strong>Please Log In</strong></a>
      <%}%>
  </body>
</html>
