<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <a href="/"><strong>Uno Drive</strong></a>
      <div class="login-buttons">
        <% if (user) {%>
        <a href="/log-out"><strong>Log Out</strong></a>
        <% } else { %>
        <a href="/login"><strong>Log In</strong></a>
        <%}%> <a href="/sign-up"><strong>Sign Up</strong></a>
      </div>
    </div>
    <hr />
    <form action="/folder/<%= folder.id %>/update" method="post">
      <h1>Rename Folder</h1>
      <div class="input-field">
        <label for="folder_name">New name</label>
        <input type="text" id="folder_name" name="folder_name" />
      </div>
      <button type="submit" class="account-button">
        <strong>Confirm</strong>
      </button>
    </form>
  </body>
</html>
